@using Flex.Data.Model
@using Flex.Data.ViewModel
@model PagedResult<fl_payinput>
@{
    if (Model != null && Model.Items.Any())
    {
        <div class="padding-sm">
            <span class="pull-right" id="spApproval">
                <a class="btn btn-warning btn-sm" id="btnApprove" onclick="exportPaymentXls('xls')"><span class="fa fa-download"></span> &nbsp; xls</a>
                <input type="button" class="btn btn-warning btn-sm" value="pdf" id="btnppsearch" data-url="@Url.Action("PaymentListingPdf","Payment")" onclick="exportPayment(this);" />
                @*<a class="btn btn-warning btn-sm" id="btnApprove" onclick="exportPaymentXls('xls')"><span class="fa fa-download"></span> &nbsp; xls</a>
                <a class="btn btn-warning btn-sm" id="btnApprove" onclick="exportPayment('pdf')"><span class="fa fa-download"></span> &nbsp; pdf</a>
                <a class="btn btn-warning btn-sm" id="btnApprove" onclick="exportPayment(@Model.Items)"><span class="fa fa-download"></span> &nbsp; pdf</a>*@
            </span>
        </div>
    }
}
@{
    var lshowing=Model.RowCount>0? (Model.CurrentPage -1) * Model.PageSize + 1:0;
    var hshowing = ((Model.CurrentPage-1) * Model.PageSize) + Model.RowCount;
    var pageSumm=string.Format("Showing {0}-{1} of {2}", lshowing, hshowing, Model.LongRowCount);
}

<table class="table table-common table-striped table-hover border-bottom table-condensed" id="tblagent">
    <thead>
        <tr>
            <th style="width:10%;">Reciept No.</th>
            <th style="width:17%;">Policy No.</th>
            @*<th style="width:9%;">Bank Ledger</th>*@
            <th style="width:15%;">Payment Method</th>
            <th style="width:10%;">Amount</th>
            @*<th style="width:15%;">Payer</th>*@
            <th style="width:20%;">Date</th>
            <th style="width:5%;"></th>
        </tr>
    </thead>

    <tbody>

        @{
            if (Model != null)
            {
               
                foreach (var trans in Model.Items)
                {
                    <tr class="pointer">
                        <td>@trans.receiptno</td>
                        <td>@trans.policyno</td>
                        @*<td>@trans.bank_ledger</td>*@
                        <td>@trans.chequeno</td>
                        <td>@trans.amount</td>
                        @*<td>@trans.</td>*@
                        <td>@trans.trandate_w.GetValueOrDefault().ToString("dd/MM/yyyy")</td>
                        <td>
                            @{
                                if (trans.reverseind_w == false || trans.reverseind == null)
                                {
                                    <button class="btn btn-danger btn-sm fa fa-recycle" data-id="@trans.Id" data-url="@Url.Action("ConfirmReverse", "Payment")"
                                            data-submiturl="@Url.Action("ReverseTransaction", "Payment")" onclick="ShowdelItem(this,@trans.Id, 'Reverse Payment');">
                                        Reverse
                                    </button>
                                }
                            }
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="10" class="pagination-summary small">
                @*<paging-summary ng-model="model.currentPage" items-per-page="model.pageSize" total-items="model.totalItems"></paging-summary>*@
                <span class="pull-right">@pageSumm</span>
                <!--<pagination boundary-links="true" total-items="model.totalItems" items-per-page="model.pageSize" max-size="5" ng-model="model.currentPage" class="pagination-sm" previous-text="&lsaquo; Prev" next-text="Next &rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="submit(model)"></pagination>-->
            </td>
        </tr>
    </tfoot>
</table>

<div class="col-md-6 text-left">
    <ul class="pagination pagination-sm">
        <li>
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        @{
            for (int i = 0; i < Model.PageCount; i++)
            {
                var x=i+1;
                <li><a href="#">@x</a></li>
            }
        }
        <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</div>

