@using Flex.Data.Model
@using Flex.Data.ViewModel
@model PagedResult<fl_receiptcontrol>
@{
    if (Model != null && Model.Items.Any())
    {
        @*<div class="padding-sm">*@
        @*<span class="pull-right" id="spApproval">
            <a class="btn btn-warning btn-sm" id="btnApprove" data-url="@Url.Action("ApprovePolicy","CustPolicy")"><span class="fa fa-download"></span> &nbsp; xls</a>
            <a class="btn btn-warning btn-sm" id="btnApprove" data-url="@Url.Action("ApprovePolicy","CustPolicy")"><span class="fa fa-download"></span> &nbsp; pdf</a>
        </span>*@
        @*</div>*@
    }
}
@{
    var lshowing = Model.RowCount > 0 ? (Model.CurrentPage - 1) * Model.PageSize + 1 : 0;
    var hshowing = ((Model.CurrentPage - 1) * Model.PageSize) + Model.RowCount;
    var pageSumm = string.Format("Showing {0}-{1} of {2}", lshowing, hshowing, Model.LongRowCount);
}

<table class="table table-common table-striped table-hover border-bottom table-condensed" id="tblagent">
    <thead>
        <tr>
            <th style="width:10%;">Policy Type</th>
            <th style="width:17%;">Payment Method</th>
            <th style="width:9%;">Income Ledger</th>
            <th style="width:15%;">Bank Ledger</th>
            <th style="width:10%;">Account</th>
            <th style="width:15%;">Bank Name</th>
            <th style="width:5%;"></th>
            <th style="width:5%;"></th>
        </tr>
    </thead>
    <tbody>
        @{
            if (Model != null)
            {
                foreach (var acct in Model.Items)
                {
                    <tr class="pointer">
                        <td>@acct.fl_poltype.poldesc</td>
                        <td>@acct.PaymentMethod</td>
                        <td>@acct.Income_ledger</td>
                        <td>@acct.Bank_ledger</td>
                        <td>@acct.BankAccount</td>
                        <td>@acct.Bankname</td>
                        <td><button class="btn btn-warning btn-sm fa fa-edit" data-id="@acct.Id" data-url="@Url.Action("AddEditPaymentAccount", "Payment")"
                                     onclick="showPaymetSetUpInput(this,@acct.Id)">Edit</button></td>
                        <td><button class="btn btn-danger btn-sm fa fa-remove" data-id="@acct.Id" data-url="@Url.Action("DeletePaymentAccount", "Payment")"
                            data-submiturl="@Url.Action("cDeletePaymentAccount", "Payment")" onclick="ShowdelItem(this,@acct.Id,'Payment Posting Parameter');"> Delete</button></td>
                    </tr>
                }
            }
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="10" class="pagination-summary small">
                @*<paging-summary ng-model="model.currentPage" items-per-page="model.pageSize" total-items="model.totalItems"></paging-summary>*@
                <span class="pull-right">@pageSumm</span>
                <!--<pagination boundary-links="true" total-items="model.totalItems" items-per-page="model.pageSize" max-size="5" ng-model="model.currentPage" class="pagination-sm" previous-text="&lsaquo; Prev" next-text="Next &rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="submit(model)"></pagination>-->
            </td>
        </tr>
    </tfoot>
</table>

<div class="col-md-6 text-left">
    <ul class="pagination pagination-sm">
        <li>
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        @{
            for (int i = 0; i < Model.PageCount; i++)
            {
                var x = i + 1;
                <li><a href="#">@x</a></li>
            }
        }
        <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</div>

