@using Flex.Data.Model
@using Flex.Data.ViewModel
@model PagedResult<fl_agents>

<ul class="nav nav-tabs border-none">
    <li role="presentation" class="active">
        <a class="border-none uppercase bold padding-horizontal-md margin-right-xs">Agents</a>
    </li>
    <li class="pull-right">
        <button type="button" onclick="showAgentInput(this,0);" class="btn btn-success btn-sm" data-url="@Url.Action("AddEditAgent", "SetUp")"><span class="fa fa-plus"></span> &nbsp; ADD Agent</button>
    </li>
</ul>

<div class="padding-top-md">
    <div class="panel">
        <div class="padding-sm">
            <div class="row">
                <div class="col-sm-4">
                    <div class="row">
                        <div class="col-sm-3 text-right padding-none">
                            <label for="Name" class="color-transparent-darker lite small uppercase margin-top-sm margin-right-sm">Name</label>
                        </div>
                        <div class="col-sm-9">
                            <div class="form-group">
                                <input type="text" name="Name" class="form-control input-md" id="agName" />
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="row">
                        <div class="col-sm-3 text-right padding-none">
                            <label for="Type" class="color-transparent-darker lite small uppercase margin-top-sm margin-right-sm">Type</label>
                        </div>
                        <div class="col-sm-9">
                            <div class="form-group">
                                @Html.DropDownList("Type", (IEnumerable<SelectListItem>)ViewBag.agentType, String.Empty,
                                        new { @class = "form-control input-md", @id="agType" })
                            </div>

                        </div>

                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="row">
                        <div class="col-sm-3 text-right padding-none">
                            <label for="Location" class="color-transparent-darker lite small uppercase margin-top-sm margin-right-sm">Location</label>
                        </div>
                        <div class="col-sm-9">
                            <div class="form-group">
                                @Html.DropDownList("Location", (IEnumerable<SelectListItem>)ViewBag.CostCentre, String.Empty,
                                                 new { @class = "form-control input-md", @id = "agLocation" })
                            </div>

                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 text-right">
                    <input type="button" class="btn btn-info btn-sm" value="SEARCH" id="btnppsearch" data-url="@Url.Action("SearchAgent")" onclick="searchAgent(this);" />
                </div>
            </div>
        </div>

        @{
            var dispaly = string.Empty;

            dispaly = Model.Items.Any() ? "block" : "none";
        }
        <div id="tbagents" class="table-responsive" style="display:@dispaly;">
            @Html.Partial("_tbAgents", Model)
        </div>

    </div>
</div>



