@using Flex.Data.Model
@using Flex.Data.ViewModel
@model PagedResult<fl_PublicHoliday>
@*@{
    if (Model != null && Model.Items.Any())
    {
        <span class="pull-right" id="export">
            <a class="btn btn-warning btn-sm" id="btnApprove" data-url="@Url.Action("ApprovePolicy","CustPolicy")"><span class="fa fa-download"></span> &nbsp; pdf</a>
        </span>
    }*@
@*}*@
@{
    var lshowing = Model.RowCount > 0 ? (Model.CurrentPage - 1) * Model.PageSize + 1 : 0;
    var hshowing = ((Model.CurrentPage - 1) * Model.PageSize) + Model.RowCount;
    var pageSumm = string.Format("Showing {0}-{1} of {2}", lshowing, hshowing, Model.LongRowCount);
    var maxpagecount = Model.PageCount > 5 ? Model.CurrentPage - 1 + 5 : Model.PageCount;
    var prvPage = Model.CurrentPage - 1;
    var nextpage = Model.CurrentPage + 1;
}


<table class="table table-common table-striped table-hover border-bottom table-condensed" id="tblppolicy">
    <thead>
        <tr>
            <th style="width:15%;">Name</th>
            <th style="width:5%;">Day</th>
            <th style="width:5%;">Month</th>
            <th style="width:55%;">Message</th>
            <th style="width:10%;">Status</th>
            <th style="width:5%;"></th>
            <th style="width:5%;"></th>
        </tr>
    </thead>
    <tbody>
        @{
            if (Model != null)
            {
                foreach (var holiday in Model.Items)
                {
                    <tr class="pointer">
                        <td>@holiday.HolidayName</td>
                        <td>@holiday.Holidayday</td>
                        <td>@holiday.holidaymonth</td>
                        <td>@holiday.HolidayMsg</td>
                        @{ 
                            var status = holiday.IsActive.GetValueOrDefault() ? "Active" : "InActive";
                        }
                        <td>@status</td>
                        <td>
                            <button class="btn btn-warning btn-sm fa fa-pencil" data-id="@holiday.Id"
                                    data-url="@Url.Action("AddEditHoliday", "SetUp")" onclick="showHoliday(this,@holiday.Id)">
                                Edit
                            </button>
                        </td>
                        <td>
                            @{ 
                                var btnText = holiday.IsActive.GetValueOrDefault() ? "DeActivate" : "Activate";
                            }
                            <button class="btn btn-danger btn-sm fa fa-remove" data-id="@holiday.Id" data-url="@Url.Action("ShowHolidayToggle", "SetUp")"
                                    data-submiturl="@Url.Action("ToggleHoliday", "SetUp")" onclick="ShowdelItem(this,@holiday.Id,'Public Holiday');">
                                @btnText
                            </button>
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="10" class="pagination-summary small">
                <span class="pull-right">@pageSumm</span>
            </td>
        </tr>
    </tfoot>
</table>
<div class="col-md-12 text-left">
    <ul class="pagination pagination-sm" data-url="">
        <li>
            <a href="#" aria-label="Previous" data-url="@Url.Action("SearchPublicHoliday")" onclick="searchHoliday2(this,@prvPage)">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        @{
            for (int i = Model.CurrentPage - 1; i <= maxpagecount; i++)
            {
                var x = i + 1;
                <li><a href="#" data-pageindex="@x" data-url="@Url.Action("SearchPublicHoliday")" onclick="searchHoliday2(this,@x)">@x</a></li>
            }
        }
        <li>
            <a href="#" aria-label="Next" data-url="@Url.Action("SearchPublicHoliday")" onclick="searchHoliday2(this,@nextpage)">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
    <input type="hidden" value="@Model.CurrentPage" id="currentppage" />
</div>


