@using Flex.Data.ViewModel
@model SignUpBindingModel

@*<div class="table-responsive">*@
        <table id="tbBenEdit" class="table table-condensed">
            <thead>
                <tr class="headings">

                    <th>Name</th>
                    <th>Address</th>
                    <th>Phone </th>
                    <th>Email</th>
                    <th>Date of Birth</th>
                    <th>Relationship</th>
                    <th>Proportion</th>
                    <th class="no-link last">
                        <span class="nobr">Action</span>
                    </th>
                </tr>
            </thead>
            <tbody>
    @{
            if (Model.PersonalInfo.Beneficiary.Any())
            {
                foreach (var ben in Model.PersonalInfo.Beneficiary)
                {
                    <tr>
                        <td>@ben.Name</td>
                        <td>@ben.Address</td>
                        <td>@ben.Phone</td>
                        <td>@ben.Email</td>
                        <td>@ben.Dob</td>
                        <td>@ben.Relationship</td>
                        <td>@ben.Proportion</td>
                        <td><a class="btn btn-primary fa fa-pencil" onclick="editBeneficiary(@ViewBag.Id, @ben.Id)"></a></td>
                    </tr>
                }

            }
        }
            </tbody>
        </table>
            @*</div>*@
