@using Flex.Data.Model
@using Flex.Data.ViewModel
@model PagedResult<VPayhistorybyAgent>
@{
    if (Model != null && Model.Items.Any())
    {
        @*<div class="padding-sm">*@
        @*<span class="pull-right" id="spApproval">
            <a class="btn btn-warning btn-sm" id="btnApprove" data-url="@Url.Action("ApprovePolicy","CustPolicy")"><span class="fa fa-download"></span> &nbsp; xls</a>
            <a class="btn btn-warning btn-sm" id="btnApprove" data-url="@Url.Action("ApprovePolicy","CustPolicy")"><span class="fa fa-download"></span> &nbsp; pdf</a>
        </span>*@
        @*</div>*@
    }
}
@{
    var lshowing = Model.RowCount > 0 ? (Model.CurrentPage - 1) * Model.PageSize + 1 : 0;
    var hshowing = ((Model.CurrentPage - 1) * Model.PageSize) + Model.RowCount;
    var pageSumm = string.Format("Showing {0}-{1} of {2}", lshowing, hshowing, Model.LongRowCount);
    var maxpagecount = Model.PageCount > 5 ? Model.CurrentPage - 1 + 5 : Model.PageCount;
    var prvPage = Model.CurrentPage - 1;
    var nextpage = Model.CurrentPage + 1;
}

<table class="table table-common table-striped table-hover border-bottom table-condensed" id="tblagent">
    <thead>
        <tr>
            <th style="width:10%;">Policy Number</th>
            <th style="width:17%;">Name</th>
            <th style="width:15%;">Phone Number</th>
            <th style="width:15%;">Transaction Date</th>
            <th style="width:15%;">Balance</th>
            @*<th style="width:5%;"></th>
        <th style="width:5%;"></th>*@
        </tr>
    </thead>
    <tbody>
        @{
            if (Model != null)
            {
                foreach (var pol in Model.Items)
                {
                    var name = string.Format("{0} {1}", pol.surname, pol.othername);
                <tr class="pointer">
                    <td>@pol.policyno</td>
                    <td>@name </td>
                    <td>@pol.telephone</td>
                    <td>@pol.orig_date.Value.ToShortDateString()</td>
                    <td>@pol.amount.GetValueOrDefault().ToString("N2")</td>
                    @*<td>
            <button class="btn btn-warning btn-sm fa fa-edit" data-id="@acct.Id" data-url="@Url.Action("AddEditPaymentAccount", "Payment")"
                    onclick="showPaymetSetUpInput(this,@acct.Id)">
                Edit
            </button>
        </td>
        <td>
            <button class="btn btn-danger btn-sm fa fa-remove" data-id="@acct.Id" data-url="@Url.Action("DeletePaymentAccount", "Payment")"
                    data-submiturl="@Url.Action("cDeletePaymentAccount", "Payment")" onclick="ShowdelItem(this,@acct.Id);">
                Delete
            </button>
        </td>*@
                </tr>
                }
            }
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="10" class="pagination-summary small">
                @*<paging-summary ng-model="model.currentPage" items-per-page="model.pageSize" total-items="model.totalItems"></paging-summary>*@
                <span class="pull-right">@pageSumm</span>
                <!--<pagination boundary-links="true" total-items="model.totalItems" items-per-page="model.pageSize" max-size="5" ng-model="model.currentPage" class="pagination-sm" previous-text="&lsaquo; Prev" next-text="Next &rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="submit(model)"></pagination>-->
            </td>
        </tr>
    </tfoot>
</table>

<div class="col-md-12 text-left">
    <ul class="pagination pagination-sm" data-url="">
        <li>
            <a href="#" aria-label="Previous" onclick="searchPolicies(this,@prvPage)" data-url="@Url.Action("SearchPayhist", "CustPolicy")" >
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        @{
            for (int i = Model.CurrentPage - 1; i < maxpagecount; i++)
            {
                var x = i + 1;
                <li><a href="#" data-pageindex="@x" onclick="searchPolicies(this,@x)" data-url="@Url.Action("SearchPayhist", "CustPolicy")">@x</a></li>
            }
        }
        <li>
            <a href="#" aria-label="Next" onclick="searchPolicies(this,@nextpage)" data-url="@Url.Action("SearchPayhist", "CustPolicy")">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
    <input type="hidden" value="@Model.CurrentPage" id="currentppage" />
</div>

