@model List<Flex.Data.Model.vwPolicy>


<form id="paymentForm">
    <div class="panel panel-info margin-top-sm">
        <!-- Default panel contents -->
        <div class="padding-top-md">
            <div class="panel">
                <div class="padding-sm">
                    <div class="row">
                        <div class="form-group col-md-4 ss-item-required">
                            <label class="color-transparent-darker lite small">SurName</label>
                            <input value="@Model.FirstOrDefault().surname" name="lastname" id="last-name" type="text" class="form-control input-md" />
                        </div>
                        <div class="form-group col-md-4 ss-item-required">
                            <label class="color-transparent-darker lite small">First Name</label>
                            <input value="@Model.FirstOrDefault().othername" name="firstname" id="first-name" type="text" class="form-control input-md" />
                        </div>
                        <div class="form-group col-md-4 ss-item-required">
                            <label class="color-transparent-darker lite small">Email</label>
                            <input value="@Model.FirstOrDefault().email" name="email" type="text" id="email-address" class="form-control input-md" />
                        </div>
                        <div class="form-group col-md-4 ss-item-required">
                            <label for="PolicyType" class="color-transparent-darker lite small">Policy Type</label>
                            @Html.DropDownList("PolicyType", (IEnumerable<SelectListItem>)ViewBag.polType, String.Empty,
                             new { @class = "form-control input-md", @required = "true" })
                        </div>
                        <div class="form-group col-md-4 ss-item-required">
                            <label class="color-transparent-darker lite small" for="Amount"> Amount</label>
                            <input type="number" name="amount" id="amount" class="form-control input-md" required />
                        </div>


                    </div>
                    <div class="form-submit">
                        <button type="submit" onclick="payWithPaystack()"> Pay </button>
                    </div>
                    @*<input type="button" class="btn btn-block btn-success" data-url="@Url.Action("InitializePayment","XpressPay")" value="Continue" onclick="xprsspayment(this)" />*@

                </div>
            </div>

        </div>
    </div>
</form>


